.block__slider {
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.block__slider__wrapper{
    width: 100vw;
    height: 460px;
    position: relative;
}
.items__image{
    height: 615px;
    display: flex;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 1000ms;
}
.block__buttons__slider{
    position: absolute;
    width: 100%;
    display: flex;
    gap: 60px;
    bottom: 80px;



}
.btn__slider{
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.btn__slider:hover{
   transition-duration: 500ms;
    cursor: pointer;
}
.btn__slider:active{
   transform: scale(1.2);
}