.product__block{
    
    width: 100%;
    height: 385px;
    cursor: pointer;
    overflow: hidden;
}

.product__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.product__image:hover{
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: 500ms;
}
.product__info{
    display: flex;
   justify-content: space-between;
}
.product__info__price{
    display: flex;
    gap: 10px;
    position: relative;
 
    
}
.product__info__price__old{
    text-decoration: line-through;
    color: gray;
}
.product__info__price__set{
    font-weight: 700;
}
.product__info__price_wrapper{


   
    display: flex;
  gap: 10px;
  
 
    
}
.quantity__block{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
}
.Qant__btns{
    display: flex;
    gap: 10px;
}
.Qant__btn{
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 12px;
   border: 2px solid gray;
   border-radius: 4px;
}
.Qant__btn:hover{
  color: #fff;
cursor: pointer;
transition-duration: 400ms;
background-color: rgb(199, 192, 192);
opacity: 0.8;

}
.Qant__btn:active{
background-color: blanchedalmond;
}
