.product__wrapper{
    display: flex;
    max-width: 1280px;
   margin: auto;
   padding: 15px;
  
}
.product__images{
    width: 100%;
    height: 400px;
}
.product__details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}