.basket__block__wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between
}
.total__block{
    width: 33.33%;
    background-color: #eae7e7df;
    
    padding: 24px 16px ;
}

.total__block__info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(108, 107, 107);

}
.total__block__info h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
.total__block__info p{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    line-height: 24px;
}
.total__btn{
    background-color: black;;
    padding: 8px 16px 8px 16px;
    border:1px solid white ;
   margin-top: 10px;
    width: 100%;
    color: #fff;
}
.total__btn:hover{
    background-color: wheat;
    color: black;
    cursor: pointer;
    transition-duration: 500ms;
}
.total__btn:active{
    background-color: #000;
    color: #fff;
}