
*{
    margin: 0;
    padding: 0;
}
.wrapper__header{
    width: 100%;
    height:  80px ;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity));
    position: sticky;
    top: 0;
    z-index: 50;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.head__logo{
    width: 112px;
}
.nav,.nav__items,.nav__items__basket {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}
.nav__items__basket{
    position: relative;
}
.nav__items__basket__image{
    width: 32px;
}
.nav__items__basket__count{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size:  14px ;
    line-height: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.nav__items__basket__acount {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
}
