.cart__item{
    width: 66.66%;
    padding-right: 40px;
}
.cart__item__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
}
.cart__item__block__info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart__item__close__btn {
    font-size: 24px;
    line-height: 32px;
    color: gray;
}
.cart__item__close__btn:hover{
    color: red;
    cursor: pointer;
    transition-duration: 300ms;
}
.cart__item__img{
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.cart__item__block__btn{
    border-color: transparent;
    
}
.cart__item__block__btn:hover{
    border-color: transparent;
}
.reset__btn{
    background-color: rgb(242, 59, 59);
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px 20px;
    border-radius: 5px;

}
.reset__btn:hover{
   opacity: 0.8;
   transition-duration: 300ms;
}
.reset__btn:active{
    background-color: rgb(240, 106, 106);
 }
