
*{
    margin: 0;
    padding: 0;
    
    
}
html,body{
    height: 100%;   
}
.App{

    height: 100%;  

   
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
    background-color: transparent;
}